*{
    margin: 0;
    padding: 0;
}

section{
    margin-top: 100px;
}

.btn{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.btn button{
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.block{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(243, 247, 250);
}